[user]
	name = naveen
	email = n...
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	s = status
	st = status
	last = log -1 HEAD
	track = !git-track
[instaweb]
	local = true
	httpd = apachectl -f
	port = 4321
[github]
	user = naveen
	token = e...
[core]
	editor = vim
	excludesfile = /Users/naveen/.gitexcludes
[branch]
	autosetupmerge = true
	autosetuprebase = always
